*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
    transition: var(--change-color);
}

:root{
    --bg-color: #f5f6fa;
    --text-color: #353b48;
    --bg-header-color: #ecf0f1;
    --bg-project-color: #ecf0f1;
    --bg-tags-color: #bdc3c7;
    --color-icon-menu: invert(5%) sepia(6%) saturate(3572%) hue-rotate(177deg) brightness(97%) contrast(96%);
    --color-github: invert(13%) sepia(25%) saturate(352%) hue-rotate(172deg) brightness(96%) contrast(92%);
    --color-filter-project-icons: invert(99%) sepia(49%) saturate(1072%) hue-rotate(177deg) brightness(104%) contrast(89%);
    --change-color: color 0.2s, background-color 0.2s ease-in-out;
  }

body.dark{
    --text-color: #f5f5f5;
    --bg-color: #10151d;
    --bg-header-color: #0d1117;
    --bg-project-color: #191e25;
    --bg-tags-color: #bdc3c7;
    --bg-tags-color: #34495e;
    --color-icon-menu: invert(98%) sepia(68%) saturate(5003%) hue-rotate(179deg) brightness(117%) contrast(89%);
    --color-github: invert(98%) sepia(68%) saturate(5003%) hue-rotate(179deg) brightness(117%) contrast(89%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    min-width: 100vw;
    top: 0;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-header-color);
    transition: var(--change-color);
}

.sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon{
    margin-right: 0.5em;
    font-size: 1.8rem;
}

.toggle-theme__text{
    font-size: 0.8rem;
}

.section-item,
.section-item__change-language{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-item{
    margin: 1em;
}

.icon-menu{
    width: 20px;
    height: 20px;
    margin-right: 0.4em;
    filter: var(--color-icon-menu);
}

.icon-mode{
    width: 20px;
    height: 20px;
    margin-right: 0.4em;
    filter: var(--color-icon-menu);
}

.section-item__change-language{
    position: relative;
}

.section-language-content{
  display: none;
  top: 60px;
  position: absolute;
  background-color: var(--bg-header-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}


.language-content--show{
    display: flex;
    flex-direction: column;
}

.item-nav-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.item-nav-link--color {
    padding: 12px 16px;
}

.row-1{
    padding-top: 1rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
}

.about-me__title{
    font-size: 1.5rem;

}

.about-me__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
}

.about-me__image{
    width: 250px;
    margin-left: 1rem;
}

.about-me__profile-image{
    width: 100%;
    border-radius: 50%;
}

.about-me__description{
    width: 70%;
    text-align: center;
    border-bottom: 1px solid #95a5a6;
}

.row-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.projects-introduction{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2rem;
}

.projects-introduction__description,
.projects-introduction__title{
    text-align: center;
}

.card-project{
    border-radius: 15px;
    width: 70%;
    margin-bottom: 2rem;
    display: flex;
    background-color: var(--bg-project-color);

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.project{
    padding: 1em;
}

.project__image-container{
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

@media screen and (max-width:1200px){
    .project__image-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.project__tags{
    display: flex;
    justify-content: flex-start;
    font-size: .8rem;
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.project__tag{
    padding: .4em .8em;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: var(--bg-tags-color);

}

@media screen and (max-width:1200px){
    .project__tags{
        width: 100%;
        font-size: .8rem;
        justify-content: center;
        margin: 0;
    }
}


.project-image{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:1200px) {
    .card-project{
        flex-direction: column;
    }
    .project__title{
        text-align: center;
    }
}

.project__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button{
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 1em;
    display: flex;
    justify-content: center;
} 

.project-icon{
    width: 18px;
    height: 18px;
    margin-right: 0.4em;
    position: relative;
    filter: var(--color-filter-project-icons);
}

@media screen and (max-width:1200px){
    .project__buttons{
        justify-content: center;
    }
}

.contact{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact__title{
    text-align: center;
}

.contact-body-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact__item{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icon{
    width: 32px;
    height: 32px;
}

.contact-icon--black{
    filter: var(--color-github);
}

.contact-icon--blue{
    filter: invert(16%) sepia(99%) saturate(6007%) hue-rotate(201deg) brightness(100%) contrast(92%);
}

.contact-icon--red{
    filter: invert(34%) sepia(88%) saturate(1122%) hue-rotate(335deg) brightness(96%) contrast(88%);
}

.contact__link{
    text-decoration: none;
    color: var(--text-color);
}

.footer_container{
    background-color: #0d1117;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ecf0f1;
}

.footer__text{
    margin: 0;
}
